<script>
    $(document).ready(function () {

    });
</script>
<div class="container">
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-danger">
                {{message}}
            </div>
            <hr/>
        {% endfor %}
    </div>
    <div id="tabs" class="pestana container">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <ul>
            <li><a href="#tabs-1">Datos Generales</a></li>
            <li><a href="#tabs-2">Otros datos</a></li>
        </ul>
        <div id="tabs-1">
            <div class="form-row  mismalinea">
                {{form_row(form.codigo)}}
            </div>
            <div class="form-row  mismalinea">
                {{form_row(form.descrip)}}
            </div>
            <div class="clearfix"></div>
            <div class="form-row  mismalinea">
                {{form_row(form.subaltasAfi)}}
            </div>
            <div class="form-row  mismalinea">
                {{form_row(form.subaltasCerti)}}
            </div>
            <div class="clearfix"></div>
            <div class="form-row  mismalinea">
                {{form_row(form.certificar)}}
            </div>
            <div class="form-row  mismalinea">
                {{form_row(form.enUso)}}
            </div>
            <div class="form-row  mismalinea">
                {{form_row(form.l13)}}
            </div>
            <div class="form-row  mismalinea">
                {{form_row(form.pagarTramo)}}
            </div>
            <div class="clearfix"></div>
            <div class="form-row  mismalinea">
                {{form_row(form.modOcupa)}}
            </div>
            <div class="form-row  mismalinea">
                {{form_row(form.modoPago)}}
            </div>
            <div class="form-row  mismalinea">
                {{form_row(form.moviPat)}}
            </div>
        </div>
        <div id="tabs-2">
            <div class="form_row mismalinea" >
                {{form_row(form.btcMconCodigo)}}
            </div>
            <div class="form_row mismalinea" >
                {{form_row(form.btcTipocon)}}
            </div>
            <div class="form_row mismalinea" >
                {{form_row(form.motivoAltaRptId)}}
            </div>
            <div class="form_row mismalinea" >
                {{form_row(form.malRptCodigo)}}
            </div>
            <div class="form_row mismalinea" >
                {{form_row(form.malRptDescripcion)}}
            </div>
            <div class="form_row mismalinea" >
                {{form_row(form.relJuridica)}}
            </div>
        </div>
    </div>
    <div class="form_row " >
        {{form_row(form.Guardar)}}
        {{ form_end(form) }}
    </div>

</div>
