<div class="container">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form_row mismalinea">
        {{form_row(form.codigo)}}
    </div>
    <div class="form-row  mismalinea">
        {{form_row(form.descrip)}}
    </div>
    <div class="clearfix"></div>
    <div class="form-row">
        {{form_row(form.fie)}}
    </div>
    <div class="form-row">
        {{form_row(form.Guardar)}}
    </div>
</div>
